<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Image Uploader</title>
    <link rel="stylesheet" href="/static/styles.css" />
  </head>
  <body>
    <div class="header">
      <h1>Image Uploader</h1>
      <br />
      <h2>This is a data persistence test page</h2>
    </div>
    <div class="subhead">
      <h2>Upload an image, jpg, gif or png only.</h2>
      <form action="/upload" method="POST" enctype="multipart/form-data">
        <input type="file" name="file" />
        <input type="submit" value="Upload" />
        </div>
    <div>
      {% for image in images %}
      <div class="image-grid">
        <img src="{{ url_for('static', filename='images/' + image)}}" class="image"/>
      </div>
      {% endfor %}
    </div>
    </body>
</html>
