<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quote</title>
  </head>
  <body>
    <div>
      <h1>I am excited to learn DevOps!!!</h1>
    </div>
    <div>
      <h2>Upload a image, jpg, gif or png only.</h2>
      {% for image in images %}
      <img
        src="{{ url_for('static', filename='uploads/' + image)}}"
        width="250"
      />
    </div>
    <br />
    <div>
      <p>Upload</p>
      <form
        action="/upload_image"
        ,
        method="POST"
        enctype="multipart/form-data"
      >
        <input type="file" name="image" accept="image/*" />
        <input type="submit" value="Upload" />
      </form>
    </div>
  </body>
</html>
